.container{
  background: yellow;
  padding: 80px 20px 40px 20px;
}

#header{
  height: 150px;
  background: blue;
  border: 2px solid black;
}

#nav{
  background: green;
  border: 2px solid black;
  height: 50px;
}

#content{
  background: red;
  border: 2px solid black;
  height: 200px;
}

#aside{
  background: cyan;
  border: 2px solid black;
  height: 200px;
}

#promo1{
  background: orange;
  border: 2px solid black;
  height: 150px;
}

#footer{
  background: black;
  border: 2px solid black;
  height: 50px;
}
